.article
  .card.border-primary.mb-3
    .card-body
      %h4.article__title.card-title= article.title
      .article-info.row
        %h6.col-lg-8 author: #{article.user.name}
        %h6.col-lg-4.text-right #{article.created_at.strftime("%Y年 %m月 %d日")}
      %p.article__text.card-text.text-truncate= article.text
      = link_to "詳細", article_path(article), class: "card-link"
      - if user_signed_in? && current_user.id == article.user_id
        = link_to "編集", edit_article_path(article), class: "card-link"
        = link_to "削除", "/articles/#{article.id}", method: :delete, class: "card-link"

