!!!
%html
  %head
    %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", "http-equiv": "Content-Type", name: 'viewport'}/
    %title BlogSample
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = yield
